!             __ _ 
!  ____ ___  / _(_)
! |  __/ _ \| |_| |
! | | | (_) |  _| |
! |_|  \___/|_| |_|
!

! pywal theme
rofi.theme: ~/.cache/wal/colors-rofi-dark.rasi

! size
rofi.width: 25
rofi.font: DejaVaSansMono Nerd Font 10
